@use "sass:map";

@import "~normalize.css";

@import "scss.utils/mixins";
@import "scss.utils/variables";

.notfound {
    width: 100%;
    height: 700px;
    & > p {
        width: 50%;
        margin: 0 auto;
        padding-top: 400px;
        font-size: map.get($txt-size, "largest");
        color: map.get($theme-color, "default");
    }
}