@use "sass:map";

@import "~normalize.css";

@import "scss.utils/variables";
@import "scss.utils/mixins";

@import "scss.components/header.scss";
@import "scss.components/toolbar.scss";
@import "scss.components/formulabar.scss";
@import "scss.components/tablebody.scss";
@import "scss.components/footer.scss";

*, *+* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: "Bahnschrift", sans-serif;
    font-size: map.get($txt-size, "regular");
    color: $txt-color;
}

.table-container {
    width: 100%;
    height: 700px;
}

.app {
    width: inherit;
    position: relative;
}
