@mixin btn-icon($icon-color, $size: 25px, $margin: 15px) {
    width: $size;
    height: $size;
    margin-left: $margin;
    cursor: pointer;
    &:active, &:hover {
        color: $icon-color;
    }
}

@mixin table-cell($min-width, $border-style, $divider: 4) {
    min-height: inherit;
    height: inherit;
    min-width: $min-width;
    position: relative;
    border-bottom: $border-style;
    border-right: $border-style;
    text-align: center;
    padding-top: calc(map.get($section-height, "tablebody-row") / $divider);
    &:focus, &:active {
        outline: none;
        cursor: pointer;
    }
}

@mixin resize-block($dimension, $coreside, $cursor) {
    position: absolute;
    opacity: 0;
    bottom: 0;
    right: 0;
    #{$coreside}: 0;
    #{$dimension}: 3px;
    z-index: 9999;
    cursor: $cursor;
    background-color: map.get($theme-color, "primary");
    &:hover {
        opacity: 1;
    }
}