@mixin btn-icon($icon-color, $size: 25px, $margin: 15px) {
    width: $size;
    height: $size;
    margin-left: $margin;
    cursor: pointer;
    &:active, &:hover {
        color: $icon-color;
    }
}

@mixin table-cell($min-width, $border-style, $divider: 4) {
    min-height: inherit;
    height: inherit;
    min-width: $min-width;
    border-bottom: $border-style;
    border-right: $border-style;
    text-align: center;
    padding-top: calc(map.get($section-height, "tablebody-row") / $divider);
}