$txt-color: rgba(0, 0, 0, .55);
$txt-regular-size: 16px;
$txt-larger-size: 20px;

$header-height: 50px;
$toolbar-height: 45px;
$formulabar-height: 50px;

$border-basic-style: 1px solid rgba(110, 110, 110, .55);

$segment-inner-padding: 10px 20px 0;

$cell-min-width: 40px;