@import "../scss.utils/variables";

.app__header {
    height: $header-height;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: 10px 20px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    &__name {
        font-size: $txt-regular-size;
        text-align: center;
        appearance: none;
        outline: none;
        border: none;
        border-bottom: $border-basic-style;
        border-radius: 5%;
        &:hover {
            border: $border-basic-style;
        }
    }
    &__btn-icon-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__btn-icon {
        width: 25px;
        height: 25px;
        margin-left: 15px;
        cursor: pointer;
    }
}
