@use "sass:map";

@import "../scss.utils/variables";
@import "../scss.utils/mixins";

.app-toolbar {
    height: map.get($section-height, "toolbar");
    position: absolute;
    top: map.get($section-height, "header");
    left: 0;
    right: 0;
    &__btn-icon-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-evenly;
    }
    &__btn-icon {
        @include btn-icon(rgba(0, 0, 0, 1));
    }
}

.toolbar-wrapper {
    height: inherit;
    padding: map.get($inner-padding, "segment");
    border-top: $border-basic-style;
    border-bottom: $border-basic-style;
}