@import "../../scss.utils/variables";
@import "../../scss.utils/mixins";

.app-header {
    height: map.get($section-height, "header");
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    &__name {
        height: 30px;
        font-size: map.get($txt-size, "larger");
        text-align: center;
        appearance: none;
        outline: none;
        border: none;
        &:hover, &:focus {
            border: $border-basic-style;
            border-radius: 5%;
        }
    }
    &__btn-icon-group {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: center;
    }
    &__btn-icon {
        @include btn-icon(rgba(0, 0, 0, 1));
    }
}

.header-wrapper {
    height: inherit;
    padding: map.get($inner-padding, "segment");
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}