@import "../../scss.utils/variables";
@import "../../scss.utils/mixins";

.app-tablebody {
    position: absolute;
    top: calc(map.get($section-height, "header") + map.get($section-height, "toolbar") + map.get($section-height, "formulabar"));
    right: 0;
    left: 0;
    overflow-x: auto;
    &__row {
        min-height: 25px;
        height: map.get($section-height, "tablebody-row");
        display: flex;
        flex-direction: row;
    }
    &__row-head {
        min-height: inherit;
        height: inherit;
        position: relative;
    }
    &__cell {
        @include table-cell(map.get($min-width, "cell"), $border-basic-style);
        background-color: map.get($theme-color, "functional");
    }
    &__row-cell-cols {
        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
    }
    &__col, &__col-head {
        @include table-cell(map.get($min-width, "colcell"), $border-basic-style);
    }
    &__col-head {
        position: relative;
        background-color: map.get($theme-color, "contrast");
    }
    &__row-resize {
        @include resize-block(height, left, row-resize);
    }
    &__col-resize {
        @include resize-block(width, top, col-resize);
    }
}
